extends ./header.jade

block title
	title Contact

block content
	div.jumbotron
		div.container(style='text-align:center')
			h1 Welcome to Contact
			div.container(style='width:400px;margin-top:20px')
				a(role='button' class='btn btn-primary btn-lg btn-block' href='/chatroom') Login
				br
				a(role='button' class='btn btn-primary btn-lg btn-block' href='/signup') Create an account


